.detail-weather__display-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detail-weather__display-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.arrow {
    margin: 20px 8px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.arrow polygon {
    fill: #353589;
    transition: fill 0.5s ease-out;
}
.arrow-left {
    transform: rotate(180deg);
}
.arrow:hover polygon {
    fill: #7668e5;
}

.app-dark .arrow polygon {
    fill: white;
}

.app-dark .arrow:hover polygon {
    fill: #7668e5;
}

@media screen and (max-width: 1200px) {
    .detail-weather__display-outer {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .detail-weather__display-list {
        flex-direction: column;
    }

    .arrow-left {
        transform: rotate(270deg);
    }

    .arrow-right {
        transform: rotate(90deg);
    }
}
@media screen and (max-width: 768px) {
    .arrow {
        width: 20px;
        height: 20px;
        margin: 20px 0;
    }
}