.header {
    padding: 40px 60px;
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 2;

    /* высота шапки (поменять при адаптиве) */
    height: 100px;

}

.header__outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__column {
    display: flex;
}

.header__image img {
    content: url("./images/logo.png");
}

.header__togler {
    border-radius: 50%;
    margin-right: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    text-align: center;
    cursor: pointer;
    align-items: center;
}

.header__actions {
    display: flex;
}

.header__metrics {
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(317.63deg,#353589 -7.42%,#9a9aff 120.45%);
    color: white;
    border: 1px solid white;
}

.header__togler-theme-switch {
    content: url("./images/moon.png");
}

/*
    Функционал смены темы
*/

.app-dark .header {
    background: #222;
    border-bottom: 1px solid white;
}

.app-dark .header__image img {
    content: url("./images/logo_dark.png");
}

.app-dark .header__togler-theme-switch {
    content: url("./images/sun.png");
}


@media screen and (max-width: 1200px) {
    .header {
        padding: 40px 20px;
    }
    .header .city__btn {
        padding: 10px;
    }

    .header .city__input {
        padding: 10px;
        margin-right: 15px;
    }

    .header__togler {
        margin-right: 15px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 10px 0;
        height: 130px;
    }
    .header__outer {
        flex-direction: column;
    }
    .header__column:first-child {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 480px) {
    .header__column:nth-child(2) {
        flex-direction: column;
    }
    .header__actions {
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
    .header {
        height: 170px;
    }
    .header__togler:nth-child(2) {
        margin-right: 0;
    }
}

@media screen and (max-width: 320px) {

}