.detail-display {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 30px;
}

.detail-display-info {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.detail-display .city-not-exists__text {
    color: #353589;
}

.app-dark .detail-display .city-not-exists__text {
    color: white;
}