.city__input {
    padding: 10px 30px;
    border-radius: 4px;
    margin-right: 40px;
    background: linear-gradient(45deg, #f5f7fa, #c3cfe2);
    color: black;
    border: 1px solid #9890e3;
    outline: none;
}
.city__input::placeholder {
    color: black;
}

.city__input:focus {
    border: 1px solid #9890e3;
    outline: none;
}

.city__btn {
    cursor: pointer;
    background: linear-gradient(45deg, #f5f7fa, #c3cfe2);
    border: 1px solid #9890e3;
    padding: 10px 30px;
    border-radius: 4px;
}

