@font-face {
    font-family: "Oswald";
    src: url('./fonts/Oswald/static/Oswald-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Oswald";
    src: url('./fonts/Oswald/static/Oswald-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Source Sans";
    src: url('./fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Source Sans";
    src: url('./fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Source Sans";
    src: url('./fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
    overflow-x: hidden;
}

.app-dark {
    background: #222;
    overflow-x: hidden;
}

.app__row:first-child {
    height: 100vh;
    margin-bottom: 30px;
}

.container {
    max-width: 1600px;
    padding: 0 50px;
    margin: 0 auto;
}